<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>OE.cur</key>
    <string>O_E_.cur.glif</string>
    <key>Q.dec_pt</key>
    <string>Q_.dec_pt.glif</string>
    <key>Q.dec_pt.ini</key>
    <string>Q_.dec_pt.ini.glif</string>
    <key>U_locl.au</key>
    <string>U__locl.au.glif</string>
    <key>X.dec.ini</key>
    <string>X_.dec.ini.glif</string>
    <key>ae.ful.med</key>
    <string>ae.ful.med.glif</string>
    <key>cnct.cnt_r_e.mod</key>
    <string>cnct.cnt_r_e.mod.glif</string>
    <key>cnct.cnt_r_s.mod</key>
    <string>cnct.cnt_r_s.mod.glif</string>
    <key>cnct.ful_b_e.mod</key>
    <string>cnct.ful_b_e.mod.glif</string>
    <key>cnct.ful_e_s.mod</key>
    <string>cnct.ful_e_s.mod.glif</string>
    <key>cnct.ful_f_e.mod</key>
    <string>cnct.ful_f_e.mod.glif</string>
    <key>cnct.ful_f_s.mod</key>
    <string>cnct.ful_f_s.mod.glif</string>
    <key>cnct.ful_z_e.mod</key>
    <string>cnct.ful_z_e.mod.glif</string>
    <key>cnct.lop_G_h</key>
    <string>cnct.lop_G__h.glif</string>
    <key>cnct.lop_G_t.lop_de</key>
    <string>cnct.lop_G__t.lop_de.glif</string>
    <key>cnct.mlp_b_e.mod</key>
    <string>cnct.mlp_b_e.mod.glif</string>
    <key>cnct.mlp_b_s.mod</key>
    <string>cnct.mlp_b_s.mod.glif</string>
    <key>cnct.mlp_b_z.cnt</key>
    <string>cnct.mlp_b_z.cnt.glif</string>
    <key>cnct.mlp_o_e.mod</key>
    <string>cnct.mlp_o_e.mod.glif</string>
    <key>cnct.mlp_o_s.mod</key>
    <string>cnct.mlp_o_s.mod.glif</string>
    <key>cnct.mlp_o_z.cnt</key>
    <string>cnct.mlp_o_z.cnt.glif</string>
    <key>cnct.mod_e_x.ful</key>
    <string>cnct.mod_e_x.ful.glif</string>
    <key>cnct.mod_e_z.cnt</key>
    <string>cnct.mod_e_z.cnt.glif</string>
    <key>cnct.mrr_f_e.mod</key>
    <string>cnct.mrr_f_e.mod.glif</string>
    <key>cnct.mrr_f_s.mod</key>
    <string>cnct.mrr_f_s.mod.glif</string>
    <key>entr_ncnt</key>
    <string>entr_ncnt.glif</string>
    <key>entr_xful</key>
    <string>entr_xful.glif</string>
    <key>f.mod_au.med_o_</key>
    <string>f.mod_au.med_o_.glif</string>
    <key>oe.ful</key>
    <string>oe.ful.glif</string>
    <key>oe.ful.med</key>
    <string>oe.ful.med.glif</string>
    <key>oe.mod.ini</key>
    <string>oe.mod.ini.glif</string>
  </dict>
</plist>
