<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>M_locl</string>
    </array>
    <key>public.kern1.A.cur</key>
    <array>
      <string>A.cur</string>
      <string>M.cur</string>
      <string>N.cur</string>
      <string>U.cur</string>
      <string>A.cur_locl</string>
    </array>
    <key>public.kern1.A.dec</key>
    <array>
      <string>A.dec</string>
    </array>
    <key>public.kern1.A.dec_locl</key>
    <array>
      <string>A.dec_locl</string>
    </array>
    <key>public.kern1.B.dec</key>
    <array>
      <string>B.dec</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>D.cur</string>
      <string>D.dec</string>
      <string>G.dec</string>
      <string>F.cur_locl</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>AE</string>
      <string>OE</string>
      <string>AEacute</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edotbelow</string>
      <string>Ehookabove</string>
      <string>Etilde</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.F.dec</key>
    <array>
      <string>F.cur</string>
      <string>F.dec</string>
    </array>
    <key>public.kern1.G.cur</key>
    <array>
      <string>G.cur</string>
      <string>J.cur</string>
      <string>Y.cur</string>
      <string>Z.cur</string>
      <string>J.dec</string>
      <string>G.cur_locl</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
      <string>Eng</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>Idotbelow</string>
      <string>Ihookabove</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.H.cur</key>
    <array>
      <string>H.cur</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.K.dec</key>
    <array>
      <string>K.cur</string>
      <string>K.dec</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.L.dec</key>
    <array>
      <string>L.cur</string>
      <string>L.dec</string>
    </array>
    <key>public.kern1.M.dec</key>
    <array>
      <string>M.dec</string>
    </array>
    <key>public.kern1.N.dec</key>
    <array>
      <string>N.dec</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odotbelow</string>
      <string>Ohookabove</string>
      <string>O.cur</string>
      <string>O.dec</string>
    </array>
    <key>public.kern1.Ohorn</key>
    <array>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Thorn</string>
      <string>P.cur</string>
      <string>P.dec</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.R.dec</key>
    <array>
      <string>R.cur</string>
      <string>X.cur</string>
      <string>R.dec</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern1.S.cur</key>
    <array>
      <string>S.cur</string>
    </array>
    <key>public.kern1.S.dec</key>
    <array>
      <string>S.dec</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>T.dec</string>
    </array>
    <key>public.kern1.T.cur_locl</key>
    <array>
      <string>T.cur</string>
      <string>T.cur_locl</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>IJ</string>
      <string>IJacute</string>
      <string>Jcircumflex</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucaron</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Udieresisacute</string>
      <string>Udieresiscaron</string>
      <string>Udieresisgrave</string>
      <string>Udieresismacron</string>
      <string>Udotbelow</string>
      <string>Uhookabove</string>
    </array>
    <key>public.kern1.Uhorn</key>
    <array>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.V.cur</key>
    <array>
      <string>V.cur</string>
      <string>W.cur</string>
    </array>
    <key>public.kern1.V.dec</key>
    <array>
      <string>V.dec</string>
      <string>W.dec</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.X.dec</key>
    <array>
      <string>X.dec</string>
      <string>X.dec_ro</string>
    </array>
    <key>public.kern1.X.dec_locl</key>
    <array>
      <string>X.dec_locl</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ydotbelow</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Y_locl</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>d</string>
      <string>i</string>
      <string>idotless</string>
      <string>l</string>
      <string>u</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adotbelow</string>
      <string>ahookabove</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>idotbelow</string>
      <string>ihookabove</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>udieresisacute</string>
      <string>udieresiscaron</string>
      <string>udieresisgrave</string>
      <string>udieresismacron</string>
      <string>udotbelow</string>
      <string>uhookabove</string>
      <string>a.mod</string>
      <string>a.mod.fin</string>
      <string>d.mod</string>
      <string>d.mod.fin</string>
      <string>i.mod</string>
      <string>i.mod.fin</string>
      <string>idotless.mod</string>
      <string>idotless.mod.fin</string>
      <string>l.mod</string>
      <string>l.mod.ini</string>
      <string>l.mod.fin</string>
      <string>u.mod</string>
      <string>u.mod.fin</string>
      <string>l.lop.fin</string>
      <string>l.alt1.lop.fin</string>
    </array>
    <key>public.kern1.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>b.mod.fin</string>
      <string>p.mod</string>
      <string>p.mod.fin</string>
      <string>b.jmc.fin</string>
      <string>p.jmc.fin</string>
      <string>thorn.jmc.fin</string>
      <string>b.ful.fin</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e.mod.fin_b_</string>
      <string>e.mod.fin_n_</string>
      <string>ae.mod.fin</string>
      <string>oe.mod.fin</string>
      <string>e.jmc.fin_g_</string>
      <string>e.ful.fin</string>
      <string>e.ful.fin_g_</string>
      <string>e.ful.fin_o_</string>
      <string>ae.ful.fin</string>
      <string>oe.ful.fin</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>j</string>
      <string>jdotless</string>
      <string>q</string>
      <string>y</string>
      <string>ij</string>
      <string>eng</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>ijacute</string>
      <string>jcircumflex</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ydotbelow</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>g.mod</string>
      <string>g.mod.fin</string>
      <string>j.mod</string>
      <string>j.mod.fin</string>
      <string>jdotless.mod</string>
      <string>jdotless.mod.fin</string>
      <string>q.mod</string>
      <string>q.mod.fin</string>
      <string>y.mod</string>
      <string>y.mod.fin</string>
      <string>ij.mod.fin</string>
      <string>q.jmc.fin</string>
      <string>q.jmc_ar.fin</string>
      <string>q.mrr.fin</string>
    </array>
    <key>public.kern1.g.jmc.fin</key>
    <array>
      <string>g.jmc.fin</string>
      <string>j.jmc.fin</string>
      <string>jdotless.jmc.fin</string>
      <string>y.jmc.fin</string>
      <string>ij.jmc.fin</string>
      <string>z.ful.fin</string>
      <string>y.cnt.fin</string>
      <string>z.cnt.fin</string>
      <string>f.mlp.fin</string>
      <string>z.mlp.fin</string>
    </array>
    <key>public.kern1.germandbls.jmc.fin</key>
    <array>
      <string>germandbls.jmc.fin</string>
      <string>b.lop.fin</string>
      <string>b.mlp.fin</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>k.mod</string>
      <string>k.mod.fin</string>
      <string>k.ful.fin</string>
      <string>k.lop.fin</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>h.mod</string>
      <string>h.mod.fin</string>
      <string>m.mod</string>
      <string>m.mod.fin</string>
      <string>n.mod</string>
      <string>n.mod.fin</string>
      <string>p.ful.fin</string>
      <string>r.ful.fin</string>
      <string>s.ful.fin</string>
      <string>v.ful.fin</string>
      <string>w.ful.fin</string>
      <string>h.lop.fin</string>
      <string>m.cnt.fin</string>
      <string>m.cnt.fin_n_</string>
      <string>n.cnt.fin</string>
      <string>n.cnt.fin_n_</string>
      <string>v.cnt.fin</string>
      <string>v.cnt.fin_n_</string>
      <string>w.cnt.fin</string>
      <string>w.cnt.fin_n_</string>
      <string>p.mrr.fin</string>
      <string>r.mlp.fin</string>
      <string>z.cnt_no.fin</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>e</string>
      <string>o</string>
      <string>ae</string>
      <string>eth</string>
      <string>oe</string>
      <string>aeacute</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edotbelow</string>
      <string>ehookabove</string>
      <string>etilde</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odotbelow</string>
      <string>ohookabove</string>
      <string>c.mod</string>
      <string>c.mod.fin</string>
      <string>e.mod</string>
      <string>e.mod.fin</string>
      <string>o.mod</string>
      <string>o.mod.fin</string>
      <string>eth.mod.fin</string>
      <string>o.mlp.fin</string>
    </array>
    <key>public.kern1.ohorn</key>
    <array>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>r.mod</string>
      <string>r.mod.fin</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>s.mod</string>
      <string>s.mod.fin</string>
      <string>s.jmc.fin</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t.mod</string>
      <string>t.mod.fin</string>
      <string>t.mod.fin_o_</string>
      <string>t.mod_be.fin</string>
      <string>t.lop_ee.fin</string>
      <string>t.lop_ee.fin_o_</string>
    </array>
    <key>public.kern1.uhorn</key>
    <array>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>v.mod</string>
      <string>v.mod.fin</string>
      <string>w.mod</string>
      <string>w.mod.fin</string>
    </array>
    <key>public.kern1.v.mlp.fin</key>
    <array>
      <string>v.mlp.fin</string>
      <string>w.mlp.fin</string>
      <string>v.ful_at.fin</string>
      <string>w.ful_at.fin</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
      <string>x.mod</string>
      <string>x.mod.fin</string>
      <string>x.ful.fin</string>
      <string>x.cnt.fin</string>
      <string>x.cnt_de.fin</string>
      <string>x.cnt_ro.fin</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>z.mod</string>
      <string>z.mod.fin</string>
      <string>z.mod_ro.fin</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>AEacute</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>M_locl</string>
    </array>
    <key>public.kern2.A.dec</key>
    <array>
      <string>S.cur</string>
      <string>AE.cur</string>
      <string>AE.cur.ini</string>
      <string>A.dec</string>
      <string>A.dec_locl</string>
      <string>A.dec_locl.ini</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Eth</string>
      <string>IJ</string>
      <string>Thorn</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edotbelow</string>
      <string>Ehookabove</string>
      <string>Etilde</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>Idotbelow</string>
      <string>Ihookabove</string>
      <string>Kcommaaccent</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern2.B.cur</key>
    <array>
      <string>B.cur</string>
      <string>D.cur</string>
      <string>F.cur</string>
      <string>K.cur</string>
      <string>K.cur.ini</string>
      <string>P.cur</string>
      <string>R.cur</string>
      <string>R.cur.ini</string>
      <string>S.dec</string>
    </array>
    <key>public.kern2.B.dec</key>
    <array>
      <string>B.dec</string>
      <string>P.dec</string>
      <string>R.dec</string>
      <string>R.dec.ini</string>
    </array>
    <key>public.kern2.D.dec</key>
    <array>
      <string>D.dec</string>
    </array>
    <key>public.kern2.E.cur</key>
    <array>
      <string>E.cur</string>
      <string>E.cur.ini</string>
    </array>
    <key>public.kern2.G.cur_locl</key>
    <array>
      <string>G.cur_locl</string>
      <string>G.cur_locl.ini</string>
    </array>
    <key>public.kern2.H.cur</key>
    <array>
      <string>H.cur</string>
      <string>H.cur.ini</string>
    </array>
    <key>public.kern2.H.dec</key>
    <array>
      <string>H.dec</string>
      <string>J.dec</string>
      <string>J.dec.ini</string>
      <string>K.dec</string>
      <string>K.dec.ini</string>
    </array>
    <key>public.kern2.I.cur</key>
    <array>
      <string>I.cur</string>
      <string>I.cur.ini</string>
      <string>F.dec</string>
    </array>
    <key>public.kern2.IJ.cur</key>
    <array>
      <string>IJ.cur</string>
      <string>IJ.cur.ini</string>
      <string>U_locl.au</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.J.cur</key>
    <array>
      <string>J.cur</string>
      <string>J.cur.ini</string>
    </array>
    <key>public.kern2.L.cur</key>
    <array>
      <string>L.cur</string>
      <string>L.cur.ini</string>
    </array>
    <key>public.kern2.L.dec</key>
    <array>
      <string>L.dec</string>
      <string>L.dec.ini</string>
    </array>
    <key>public.kern2.M.cur</key>
    <array>
      <string>M.cur</string>
      <string>M.cur.ini</string>
      <string>N.cur</string>
      <string>N.cur.ini</string>
      <string>U.cur</string>
      <string>U.cur.ini</string>
      <string>V.cur</string>
      <string>W.cur</string>
      <string>Y.cur</string>
      <string>Y.cur.ini</string>
    </array>
    <key>public.kern2.M.dec</key>
    <array>
      <string>M.dec</string>
      <string>M.dec.ini</string>
      <string>N.dec</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>OE</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odotbelow</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>A.cur</string>
      <string>A.cur.ini</string>
      <string>C.cur</string>
      <string>C.cur.ini</string>
      <string>G.cur</string>
      <string>G.cur.ini</string>
      <string>O.cur</string>
      <string>Q.cur</string>
      <string>Q.cur.ini</string>
      <string>OE.cur</string>
      <string>OE.cur.ini</string>
      <string>O.dec</string>
      <string>Q.dec</string>
      <string>Q.dec.ini</string>
      <string>G_locl</string>
      <string>G_locl.au</string>
      <string>Q_locl</string>
      <string>Q_locl.ini</string>
      <string>A.cur_locl</string>
      <string>A.cur_locl.ini</string>
      <string>Q.cur_locl</string>
      <string>Q.cur_locl.ini</string>
    </array>
    <key>public.kern2.Q.dec_pt</key>
    <array>
      <string>Q.dec_pt</string>
      <string>Q.dec_pt.ini</string>
      <string>G.cur_ro</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern2.T.cur</key>
    <array>
      <string>T.cur</string>
      <string>T.cur.ini</string>
      <string>T.dec</string>
    </array>
    <key>public.kern2.T.cur_locl</key>
    <array>
      <string>T.cur_locl</string>
      <string>T.cur_locl.ini</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucaron</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Udieresisacute</string>
      <string>Udieresiscaron</string>
      <string>Udieresisgrave</string>
      <string>Udieresismacron</string>
      <string>Udotbelow</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.V.dec</key>
    <array>
      <string>V.dec</string>
      <string>W.dec</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.X.cur</key>
    <array>
      <string>X.cur</string>
      <string>X.cur.ini</string>
      <string>X.dec</string>
      <string>X.dec.ini</string>
      <string>X.dec_ro</string>
      <string>X.dec_ro.ini</string>
    </array>
    <key>public.kern2.X.dec_locl</key>
    <array>
      <string>X.dec_locl</string>
      <string>X.dec_locl.ini</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ydotbelow</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Y_locl</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Z.dec</string>
      <string>Z.dec.ini</string>
      <string>Z.dec_locl</string>
      <string>Z.dec_locl.ini</string>
    </array>
    <key>public.kern2.Z.cur</key>
    <array>
      <string>Z.cur</string>
      <string>Z.cur.ini</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>AE</string>
      <string>a</string>
      <string>d</string>
      <string>g</string>
      <string>q</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adotbelow</string>
      <string>ahookabove</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>a.mod</string>
      <string>a.mod.ini</string>
      <string>d.mod</string>
      <string>d.mod.ini</string>
      <string>g.mod</string>
      <string>g.mod.ini</string>
      <string>q.mod</string>
      <string>q.mod.ini</string>
      <string>ae.mod.ini</string>
      <string>g.jmc.ini</string>
      <string>q.jmc.ini</string>
      <string>q.jmc_ar.ini</string>
      <string>ae.ful.ini</string>
      <string>q.mrr.ini</string>
      <string>d.lop_cu.ini</string>
      <string>q.mod_au.ini</string>
    </array>
    <key>public.kern2.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>Eng</string>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>kcommaaccent</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>b.mod.ini</string>
      <string>b.mod.fin</string>
      <string>h.mod</string>
      <string>h.mod.ini</string>
      <string>k.mod</string>
      <string>k.mod.ini</string>
      <string>l.mod</string>
      <string>l.mod.ini</string>
      <string>b.jmc.ini</string>
      <string>b.ful.ini</string>
      <string>k.ful.ini</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c.mod</string>
      <string>c.mod.ini</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>j</string>
      <string>jdotless</string>
      <string>ij</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>idotbelow</string>
      <string>ihookabove</string>
      <string>ijacute</string>
      <string>jcircumflex</string>
      <string>i.mod</string>
      <string>i.mod.ini</string>
      <string>j.mod</string>
      <string>j.mod.ini</string>
      <string>jdotless.mod</string>
      <string>jdotless.mod.ini</string>
      <string>j.jmc.ini</string>
      <string>jdotless.jmc.ini</string>
      <string>ij.jmc.ini</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>idotless</string>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>eng</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>idotless.mod</string>
      <string>idotless.mod.ini</string>
      <string>m.mod</string>
      <string>m.mod.ini</string>
      <string>n.mod</string>
      <string>n.mod.ini</string>
      <string>p.mod</string>
      <string>p.mod.ini</string>
      <string>r.mod</string>
      <string>r.mod.ini</string>
      <string>p.jmc.ini</string>
      <string>p.ful.ini</string>
      <string>p.mrr.ini</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
      <string>ae</string>
      <string>eth</string>
      <string>oe</string>
      <string>aeacute</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edotbelow</string>
      <string>ehookabove</string>
      <string>etilde</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odotbelow</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>e.mod</string>
      <string>e.mod.ini</string>
      <string>o.mod</string>
      <string>o.mod.ini</string>
      <string>oe.mod.ini</string>
      <string>eth.mod.ini</string>
      <string>oe.ful.ini</string>
      <string>o.mlp.ini</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.r.ful.ini</key>
    <array>
      <string>r.ful.ini</string>
      <string>s.ful.ini</string>
      <string>b.lop.ini</string>
      <string>h.lop.ini</string>
      <string>k.lop.ini</string>
      <string>l.lop.ini</string>
      <string>l.alt1.lop.ini</string>
      <string>b.mlp.ini</string>
      <string>f.mlp.ini</string>
      <string>r.mlp.ini</string>
      <string>s.mlp.ini</string>
      <string>z.mlp.ini</string>
      <string>b.jmc_dk.ini</string>
      <string>f.ful_de.ini</string>
      <string>f.ful_pe.ini</string>
      <string>f.ful_pl.ini</string>
      <string>k.lop_pe.ini</string>
      <string>p.mrr_ca.ini</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>s.mod</string>
      <string>s.mod.ini</string>
      <string>s.jmc.ini</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t.mod</string>
      <string>t.mod.ini</string>
      <string>t.mod_be.ini</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>y</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>udieresisacute</string>
      <string>udieresiscaron</string>
      <string>udieresisgrave</string>
      <string>udieresismacron</string>
      <string>udotbelow</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ydotbelow</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>u.mod</string>
      <string>u.mod.ini</string>
      <string>y.mod</string>
      <string>y.mod.ini</string>
      <string>y.jmc.ini</string>
      <string>v.ful.ini</string>
      <string>w.ful.ini</string>
      <string>v.ful_at.ini</string>
      <string>w.ful_at.ini</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>v.mod</string>
      <string>v.mod.ini</string>
      <string>w.mod</string>
      <string>w.mod.ini</string>
      <string>z.cnt_au.ini</string>
    </array>
    <key>public.kern2.v.mlp.ini</key>
    <array>
      <string>v.mlp.ini</string>
      <string>w.mlp.ini</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
      <string>x.mod</string>
      <string>x.mod.ini</string>
      <string>x.ful.ini</string>
      <string>x.cnt.ini</string>
      <string>x.cnt_de.ini</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>z.mod</string>
      <string>z.mod.ini</string>
      <string>z.ful.ini</string>
      <string>z.cnt.ini</string>
      <string>z.mod_ro.ini</string>
      <string>z.cnt_no.ini</string>
    </array>
  </dict>
</plist>
