<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6B63C39B-7EB6-4EBD-8B44-C65AE85170B4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae.ful</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
