<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2023 The Playpen Project Authors (https://github.com/TypeTogether/Playpen)</string>
    <key>descender</key>
    <integer>-300</integer>
    <key>familyName</key>
    <string>Playpen</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2023/06/29 14:12:27</string>
    <key>openTypeNameDescription</key>
    <string>First Release</string>
    <key>openTypeNameDesigner</key>
    <string>Veronika Burian, José Scaglione</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.type-together.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>TypeTogether</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.type-together.com</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.200</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>TT</string>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>400</integer>
      <integer>415</integer>
      <integer>700</integer>
      <integer>715</integer>
      <integer>700</integer>
      <integer>715</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-315</integer>
      <integer>-300</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Rg 00 Short Fast</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>200</integer>
    <key>xHeight</key>
    <integer>400</integer>
  </dict>
</plist>
