<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>G.cur_locl.ini</key>
    <string>G_.cur_locl.ini.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>b.jmc_dk.fin</key>
    <string>b.jmc_dk.fin.glif</string>
    <key>d.lop_cu.ini</key>
    <string>d.lop_cu.ini.glif</string>
    <key>ij.mod</key>
    <string>ij.mod.glif</string>
    <key>ij.mod.fin</key>
    <string>ij.mod.fin.glif</string>
    <key>ij.mod.ini</key>
    <string>ij.mod.ini.glif</string>
    <key>ij.mod.med</key>
    <string>ij.mod.med.glif</string>
    <key>t.lop_ee</key>
    <string>t.lop_ee.glif</string>
    <key>t.lop_ee.fin</key>
    <string>t.lop_ee.fin.glif</string>
    <key>t.lop_ee.fin_o_</key>
    <string>t.lop_ee.fin_o_.glif</string>
    <key>t.lop_ee.med</key>
    <string>t.lop_ee.med.glif</string>
    <key>t.lop_ee.med_o_</key>
    <string>t.lop_ee.med_o_.glif</string>
    <key>z.mod_ro</key>
    <string>z.mod_ro.glif</string>
  </dict>
</plist>
